* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(rgb(165, 165, 255) , rgb(66, 66, 255));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
}

p.viewport {
    background-color: rgb(230, 230, 230);
    height: 30px;
    border: 3px solid black;
    margin: 10px;
    font-size: 25px;
    padding: 3px;
    text-align: right;
}

main {
    background-color: white;
    max-width: 300px;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

input.butt {

    border: 0px;
    border-radius: 50%;
    margin: 3px;
    height: 50px;
    width: 50px;
}

input.butt:hover {
    transition: .5s;
    background-color: rgb(192, 192, 192);
    box-shadow: 0px 0px 5px black;
}

input.butti {
    border: 0px;
    margin: 3px;
    border-radius: 50%;
    color: white;
    background-color: rgb(255, 125, 125);
    width: 50px;
    height: 50px;
}

input.butti:hover {
    transition: .5s;
    background-color: rgb(255, 75, 75);
}

footer {
    color: white;
    text-align: center;
}