.inicio {
    left: 30%;
    top: 30%;
}

.pipe-animed {
    width: 50px;
    position: absolute;
    bottom: 0px;
    animation: pipe-animation 1.4s infinite linear;
}

.reload {
    left: 30%;
    top: 30%;
}

@keyframes pipe-animation {
    0% {
        right: -70px;
    }

    100% {
        right: 100%;
    }
}