.pipe {
    width: 50px;
    position: absolute;
    bottom: 0px;
    animation: pipe-animation 1.5s infinite linear;
}

@keyframes pipe-animation {
    0% {
        right: -70px;
    }

    100% {
        right: 100%;
    }
}